@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --bg: #1c1d1f;
  --sec-bg: #2c2c2e;
  --prim-color: #f8f8f8;
  --sec-color: #dfdfdf;
  --tert-color: #bbb;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--sec-color);
  font-family: 'Inter', sans-serif;
}

.header {
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header h1 {
  font-size: 24px;
  color: var(--prim-color);
}

.header h2 {
  margin-top: -16px;
  font-size: 18px;
  color: var(--tert-color);
}

.card {
  display: flex;
  background-color: var(--sec-bg);
  color: var(--sec-color);
  border-radius: 6px;
}

.auth-card {
  flex-direction: column;
  width: 350px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.auth-card .tip {
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  letter-spacing: -0.2px;
}

.card p {
  font-weight: 600;
  font-size: 18px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--sec-color);
  color: var(--bg);
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 10px;
  min-width: 30px;
  max-width: 999px; /* my sanity is withering */
  transition: all ease-in-out 0.3s;
  border-radius: 6px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--tert-color);
}

.input {
  width: 100%;
  height: 36px;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  background-color: var(--bg);
  color: var(--sec-color);
  border-radius: 6px;
}

.auth-card .input {
  margin-top: -15px;
}

.auth-card .input:last-of-type {
  margin-bottom: 30px;
}

.auth-card h1 {
  font-size: 28px;
  margin: 0;
  margin-top: 20px;
}

.input:focus {
  outline: none;
  border-bottom: var(--sec-color);
}

.error-text {
  color: #f14545;
}

.noSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
